<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>Bruno Hanai</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!--outros meta-->
    <!--favicon-->

    <link rel="stylesheet" href="{{ site.url }}/assets/theme/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <header>
            {% include menu.html %}
        </header>

        {{ content }}

        <!--comments-->

        <!--paginator-->

        <footer></footer>
    </div>

    <!--analytics-->
</body>
</html>