<html>
<head>
    <meta charset="utf-8">
    {% include css-load.html %}
</head>
<body>
    <div class="ui grid container">
        <div class="one column row">
            <div class="column">
                <div class="ui inverted segment">
                    <h3 class="ui inverted header">{{ page.title }}</h3>
                </div>
            </div>

            <div class="one column row">
                <div class="column">
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
