---
layout: default
---
<div class="ui grid container">
    <div class="one column row">
        <div class="column">
            <div class="ui inverted segment">
                <h3 class="ui inverted header">{{ page.title }}</h3>
            </div>
        </div>

        <div class="one column row">
            <div class="column">
                {{ content }}
            </div>

            <strong>Tags:</strong>
            {% for tag in page.tags %}
                <a href="#" class="ui basic label">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>
